<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
						http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
						http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
						http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
						http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config
		name="payu-sapi-services-httpListenerConfig">
		<http:listener-connection
			host="${http.private.host}"
			port="${http.private.port}" />
	</http:listener-config>
	<apikit:config
		name="payu-sapi-services-config"
		api="api\payu-sapi-services.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<global-property
		doc:name="Global Property"
		doc:id="edb331d2-018a-4e38-9211-e944a8c7532e"
		name="app.env"
		value="local" />
	<configuration-properties
		doc:name="Configuration properties"
		doc:id="6526cb64-c3c4-4a0e-867d-05cc12dacca9"
		file="properties\common.yaml" />
	<configuration-properties
		doc:name="Configuration properties"
		doc:id="f3bf335a-b640-4975-be5c-7f60abe9101d"
		file="properties/${app.env}/config-${app.env}.yaml" />
	<secure-properties:config
		name="Secure_Properties_Config"
		doc:name="Secure Properties Config"
		doc:id="2784f3a7-9c46-406c-a51c-ba1cfb58ea21"
		file="properties/${app.env}/secure-${app.env}.yaml"
		key="${app.key}">
	</secure-properties:config>
	<api-gateway:autodiscovery
		apiId="${app.apiId}"
		ignoreBasePath="true"
		doc:name="API Autodiscovery"
		doc:id="c1e62ffc-71fb-4717-bb40-840ca3875444"
		flowRef="payu-sapi-services-main" />
	<json-logger:config
		name="JSON_Logger_Config"
		doc:name="JSON Logger Config"
		doc:id="86e7e68e-ebc2-4a38-8ebf-995730276538"
		applicationName="${app.name}"
		applicationVersion="${app.version}"
		environment="${app.env}"
		disabledFields="${jsonLogger.disabledFields}"
		contentFieldsDataMasking="${jsonLogger.contentFieldsDataMasking}" />
	<http:request-config
		name="HTTP_Payu_Request_configuration"
		doc:name="HTTP Request configuration"
		doc:id="19c8f672-1e03-48c1-b14e-741f422256ae">
		<http:request-connection
			protocol="HTTPS"
			host="${payu.endpoint}" />
	</http:request-config>
</mule>