<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/jdbc
      http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-4.2.xsd">

 	<bean id="oracleDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
    	<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="${oracle-db-normalize.jdbcUrl}" />
    	<property name="username" value="${oracle-db-normalize.user}" />
    	<property name="password" value="${oracle-db-normalize.password}" />
    	<property name="poolName" value="oracleConnectionPool" />
    	<property name="maximumPoolSize" value="${oracle-db-normalize.maximumPoolSize}" />
    	<property name="connectionTimeout" value="${oracle-db-normalize.connectionTimeout}" />
    </bean>
    <bean id="oracleDataSourceMule" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@${oracle-db-logs.host}:${oracle-db-logs.port}/${oracle-db-logs.sid}" />
		<property name="username" value="${oracle-db-logs.username}"/>
		<property name="password" value="${oracle-db-logs.password}" />
		<property name="poolName" value="oracleConnectionPool" />
		<property name="maximumPoolSize" value="${oracle-db-logs.poolSize}" />
		<property name="connectionTimeout" value="${oracle-db-logs.connectionTimeout}" />
	</bean>
</beans>